:host ::ng-deep {
    .avatar-image {
        display: flex;
        width: 250px;
        height: 250px;
        max-width: 95%;

        @media(width < 500px) {
            width: 200px;
            height: 200px;
        }

        @media(width < 300px) {
            width: 150px;
            height: 150px;
        }
    }
}

.info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: orangered;
        }
    }
}