<div style="margin: 0 auto; max-width: 1600px;">
  <p-toast />
  @if (tooManyTries) {
    <h1>You have reached the limit of petitions to Github per IP. Please, try again later.</h1>
   } @else if (githubUser && loadedRepos) {
       <main>
         <section>
           <app-user [user]="githubUser"></app-user>
         </section>
   
         <section>
           <a href="https://github.com/rubenalarcongalvez?tab=repositories">
             <p-button severity="secondary" label="Repositories" styleClass="w-full my-3"></p-button>
           </a>
   
           <form class="flex justify-center gap-3 items-center mt-2 mb-5 flex-wrap" [formGroup]="formFilters" (keydown.ctrl.enter)="applyFilters()">
             <div class="flex justify-center items-center gap-2">
               <p-checkbox formControlName="featuredFirst" binary inputId="ff"/>
               <label for="ff">Featured Repos First</label>
             </div>

             <p-selectButton 
              [options]="filterOptions" 
              formControlName="filterOption"
             />

             <p-selectButton 
              [options]="filterOptionsOrientation" 
              formControlName="filterOptionOrientation" 
             />
   
             <p-button severity="info" label="Apply Filter" (click)="applyFilters()"/>
           </form>
   
           <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-1 col-span-1">
             @for (githubRepo of githubRepos; track githubRepo.name) {
               <app-repo [repo]="githubRepo" [pinned]="isRepoPinned(githubRepo)"></app-repo>
             }
           </article>
         </section>
       </main>
   }
</div>